<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="DefaultConnection" connectionString="Server=tcp:bj862abxoe.database.windows.net;Database=projektplaneraren20;User ID=ppadmin@bj862abxoe;Password=PPlanner!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <!--<add name="DefaultConnection" connectionString="Server=.;Database=projektplaneraren;Trusted_Connection=True; MultipleActiveResultSets=true;" />-->
    <!--<add name="DefaultConnection" connectionString="Server=.;Database=projektplaneraren20;Trusted_Connection=True; MultipleActiveResultSets=true;" />-->
    <!--<add name="DefaultConnection____" connectionString="Server=tcp:bj862abxoe.database.windows.net;Database=projektplaneraren;User ID=ppadmin@bj862abxoe;Password=PPlanner!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="DefaultConnection" connectionString="Server=tcp:vx1afqnpkq.database.windows.net,1433;Database=projektplaneraren20;User ID=kfsk_db_admin@vx1afqnpkq;Password=lnnJ1hNr0B5bJmkJ;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    
  </connectionStrings>
</configuration>