<div class="section_header"><h2>2. Finansiering</h2></div>
<table>

    <tr>
        <td class="label">Uppskattat&nbsp;(tkr)</td>
        <td class="label">Egen&nbsp;finansiering&nbsp;(tkr)</td>
        <td class="label">Extern&nbsp;finansiering&nbsp;(tkr)</td>
        <td class="label">Stimulansmedel</td>
        <td class="label">Ofinansierat</td>
    </tr>
    <tr>
        <td class="text">%estimated%</td>
        <td class="text">%own%</td>
        <td class="text">%external%</td>
        <td class="text">%stimula%</td>
        <td class="text">%notfinanced%</td>
    </tr>
</table>