<div class="section_header"><h2>4. Projektplan</h2></div>

<table>
    <!--
        Introduction
        project.PlanIntroductionBackground
        project.PlanIntroductionComments
        project.PlanIntroductionDefinition
    -->
    <tr><td class="label_large">Introduktion</td></tr>
    <tr><td class="label">Bakgrund och syfte</td></tr>
    <tr><td class="text">%PlanIntroductionBackground%</td></tr>
    <tr><td class="label">Definitioner</td></tr>
    <tr><td class="text">%PlanIntroductionDefinition%</td></tr>
    <tr><td class="label">Övriga kommentarer</td></tr>
    <tr><td class="text">%PlanIntroductionComments%</td></tr>

    <!--
       //description
        project.PlanDescriptionDelimitation
        project.PlanDescriptionEvaluation
        project.PlanDescriptionExtent
        project.PlanDescriptionManagement
    -->
    <tr><td class="label_large">Beskrivning</td></tr>
    <tr><td class="label">Omfattning</td></tr>
    <tr><td class="text">%PlanDescriptionExtent%</td></tr>
    <tr><td class="label">Avgränsning</td></tr>
    <tr><td class="text">%PlanDescriptionDelimitation%</td></tr>
    <tr><td class="label">Förvaltning och Drift</td></tr>
    <tr><td class="text">%PlanDescriptionManagement%</td></tr>
    <tr><td class="label">Avslutning och Utvärdering</td></tr>
    <tr><td class="text">%PlanDescriptionEvaluation%</td></tr>

    <!--
        implementation
        project.PlanImplementationDescription
    -->
    <tr><td class="label_large">Genomförande</td></tr>
    <tr><td class="label">Genomförande</td></tr>
    <tr><td class="text">%PlanImplementationDescription%</td></tr>

    <!--
        Communication
        project.PlanCommunicationInterestAnalysis
        project.PlanCommunicationPlan
        project.PlanCommunicationDefinition
    -->
    <tr><td class="label_large">Kommunikation</td></tr>
    <tr><td class="label">Intressentanalys</td></tr>
    <tr><td class="text">%PlanCommunicationInterestAnalysis%</td></tr>
    <tr><td class="label">Kommunikationsplan</td></tr>
    <tr><td class="text">%PlanCommunicationPlan%</td></tr>
    <tr><td class="label">Övriga kommentarer</td></tr>
    <tr><td class="text">%PlanCommunicationDefinition%</td></tr>


</table>