<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheTimeoutMinutes" value="5" />
    <add key="APICrossDomainOrigins" value="http://localhost" />
    <add key="DatabaseProfile" value="Local" />
  </appSettings>
  <connectionStrings>
    <add name="Local" connectionString="Server=.;Database=PP;Trusted_Connection=True; MultipleActiveResultSets=true;" />
  </connectionStrings>
</configuration>