<div>
<!-- <div ng-controller="AllprojectsController"> -->
   <!--  <div ng-controller="AdministratorController"> -->
    <div>
        <div class="col-lg-12">
            <!-- <div class="row">
                <div class="col-md-4 searchInput">
                    <input type="text" class="form-control" ng-model="AdministratorProjectsSearchText" placeholder="Sök...">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div> -->
            <div class="row projectlist">


            <!---->

                <div class="col-md-12">
                    <div class="row col-md-12 col-sm-12">
                        <div class="col-md-3 col-sm-3 bold ">
                            <span class="tableheader" ng-click="orderByField='Name'; reverseSort = !reverseSort">
                                Namn
                            </span>
                        </div>
                        <div class="col-md-2 col-sm-2 bold" style="padding-left:15px;">
                            <span class="tableheader" ng-click="orderByField='Area'; reverseSort = !reverseSort">
                                Område
                            </span>
                        </div>
                        <div class="col-md-2 col-sm-2 bold" style="padding-left:19px;">
                            <span class="tableheader" ng-click="orderByField='Phase'; reverseSort = !reverseSort">
                                Projektfas
                            </span>

                        </div>
                        <div class="col-md-2 col-sm-2 bold" style="padding-left:42px;">
                            <span class="tableheader" ng-click="orderByField='Municipality'; reverseSort = !reverseSort">
                                Kommun
                            </span>
                        </div>
                        <div class="col-md-2 col-sm-2 bold" style="padding-left:52px;">
                            <span class="tableheader" ng-click="orderByField='County'; reverseSort = !reverseSort">
                                Län
                            </span>
                        </div>
                        <div class="col-md-1 col-sm-1 bold">
                            <span class="tableheader">Återställ</span>
                        </div>
                    </div>
                </div>

                <div class="row table-list" ng-repeat="item in projectView | orderBy:orderByField:reverseSort | filter: deletedProjectListFilter" ng-class="{'table-list-current': selectedProject(item), '': !selectedProject(item)}" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="col-md-12 col-sm-12 " id="{{item.Name}}">
                        <div class="col-md-3 col-sm-3">
                            <div class="textarea-container">{{item.Name}}</div>
                        </div>
                        <div class="col-md-2 col-sm-2"><div class="textarea-container">{{item.Area}}</div></div>
                        <div class="col-md-2 col-sm-2"><div class="textarea-container">{{item.Phase}}</div></div>
                        <div class="col-md-2 col-sm-2"><div class="textarea-container">{{item.Municipality}}</div></div>
                        <div class="col-md-2 col-sm-2"><div class="textarea-container">{{item.County}}</div></div>
                        <div class="col-md-1 col-sm-1"><div class="textarea-container"><a ng-click="restore(item.Id)" class="fa fa-mail-reply-all">&nbsp;</a></div></div>
                    </div>
                </div>

            <!---->
               
            </div>
        </div>
    </div>
</div>