<div>
        <!-- column div -->
        <div class="col-lg-12">
            
            <!--  header row -->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3 bold "><span class="tableheader">Namn</span></div>
                    <div class="col-md-9 col-sm-9 bold"><span class="tableheader">Beskrivning</span></div>
                </div>
            </div>

            <!-- report item -->
            <div class="row table-list" ng-click="getReport('Report01')">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3"><div class="textarea-container">Namn</div></div>
                    <div class="col-md-9 col-sm-9"><div class="textarea-container">Beskrivning</div></div>
                </div>
            </div>

            <!-- report item -->
             <div class="row table-list" ng-click="getReport('Report01')">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3"><div class="textarea-container">Namn</div></div>
                    <div class="col-md-9 col-sm-9"><div class="textarea-container">Beskrivning</div></div>
                </div>
            </div>

            <!-- report item -->
            <div class="row table-list" ng-click="getReport('Report01')">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3"><div class="textarea-container">Namn</div></div>
                    <div class="col-md-9 col-sm-9"><div class="textarea-container">Beskrivning</div></div>
                </div>
            </div>

            <div class="row">
                &nbsp;
            </div>

            <!-- report link -->
            <div class="row" ng-if="currentReport != null">
                <div class="col-md-12 col-sm-12">
                    Klicka här för att ladda ner {{currentReport.Type}} rapporten
                    <a href="{{currentReport.Url}}" target="_blank"> {{currentReport.Name}}</a>
                </div>
            </div>

        </div>

    </div>

</div>