.btn-orange.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-orange {
  display: none;
  color: #ffffff;
  background-color: #f15a0b;
  background-repeat: repeat-x;
  border-color: #e0490a #e0490a #d03809;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff15a0b', endColorstr='#ffe0490a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -ms-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -ms-linear-gradient(top, #f15a0b -1%, #e0490a 149%);
  background-image: -moz-linear-gradient(top, #f15a0b -1%, #e0490a 149%);
  background-image: -o-linear-gradient(top, #f15a0b -1%, #e0490a 149%);
  background-image: -webkit-linear-gradient(top, #f15a0b -1%, #e0490a 149%);
  background-image: linear-gradient(top, #f15a0b -1%, #e0490a 149%);
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled] {
  color: #ffffff;
  background-color: #e0490a;
}
.btn-orange:active,
.btn-orange.active {
  background-color: #c02708 \9;
}
.btn-orange img {
  display: none;
  float: right;
}
@media only screen and (max-width: 960px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .btn-orange {
    width: inherit;
  }
}
#navbar {
  top: 0;
  width: 100%;
  z-index: 9999;
}
.navbar {
  margin-bottom: 0;
}
#navbar .navbar-inner {
  margin-bottom: 0;
  background-color: #555;
  background-repeat: repeat-x;
  border: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52e31', endColorstr='#222222', GradientType=0);
  background-image: -ms-linear-gradient(top, #414141 -1%, #595959 149%);
  background-image: -moz-linear-gradient(top, #414141 -1%, #595959 149%);
  background-image: -o-linear-gradient(top, #414141 -1%, #595959 149%);
  background-image: -webkit-linear-gradient(top, #414141 -1%, #595959 149%);
  background-image: linear-gradient(top, #414141 -1%, #595959 149%);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#navbar .brand {
  float: right;
}
#navbar .brand,
.navbar .nav > li > a {
  color: #fff;
  -ms-text-shadow: none;
  -moz-text-shadow: none;
  -o-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}
#navbar .nav-collapse .nav > li > a:hover,
.nav-collapse .dropdown-menu a:hover {
  background-color: #414141;
  color: #fff;
  -ms-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  -o-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}
#navbar .nav > .active > a,
#navbar .nav > .active > a:hover,
#navbar .nav > .active > a:focus {
  background-color: #414141;
  color: #fff;
  text-decoration: none;
  -ms-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  -o-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}
#navbar .divider-vertical {
  border: 0;
  margin: 0;
  border-left: 1px solid #313131;
}
#navbar .container {
  max-width: 1280px;
  margin: 0 auto;
}
#side-menu-container {
  /*margin-top: 51px;*/
}
#side-menu-container .nav-sidebar {
  padding: 0;
  top: 105px;
}
#side-menu-container .nav-sidebar li {
  background: #fff !important;
}
#side-menu-container .nav-sidebar a {
  color: #0088cc
    margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: -1px;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#side-menu-container .nav-sidebar .scrollink-br-full {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#side-menu-container .nav-sidebar .scrollink-br-top {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#side-menu-container .nav-sidebar .scrollink-br-bottom {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
#side-menu-container .nav-sidebar i {
  float: right;
}
#side-menu-container .sub-menu {
  display: none;
}
.sub-menu a {
  padding-left: 15px !important;
}
#side-menu1 .nav-sidebar {
  top: 150px;
}
@media only screen and (max-width: 960px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #side-menu-container {
    display: none;
  }
  /*#side-menu-container .nav-sidebar {
        width: 960px !important;
        height: 1px;
        top: 1px;
        z-index: 99999;
    }

     #side-menu-container .nav-sidebar li {
         margin: 0 !important;
         
     }
        
        #side-menu-container .nav-sidebar a {
            font-size: 13px;
            float: left;
            border: none;
            color: #767676;
            padding: 10px;
            .text-shadow(0 -1px 0, rgba(0, 0, 0, 0.3));
        }


        #side-menu-container .nav-sidebar a:hover {
           color: white;
            .no-text-shadow;
            background: none;
        }

        #side-menu-container .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover {
            background: none;
            color: white;
        }

        #side-menu-container .nav-sidebar i {
            display: none;
        }*/
}
/* overrides */
.table-fluid input[type="text"] {
  font-size: 12px !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  border: none !important;
  -ms-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.table-fluid .btn-group {
  width: 100% !important;
  text-align: left !important;
}
.table-fluid .btn {
  padding: 0 !important;
}
.table-fluid .multiselect {
  color: #555;
  background: none;
  width: 100%;
  border: none;
  margin-bottom: 0;
  font-size: 12px;
}
.table-fluid {
  width: 100%;
  font-size: 12px;
  border-collapse: separate;
}
.table-fluid textarea {
  width: 100%;
}
/* zebra striping */
.table-fluid tr:nth-of-type(odd) {
  background: #fafafa;
}
.table-fluid th {
  background: white;
  color: #333;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
.table-fluid td,
th {
  min-height: 34px;
  padding: 1px;
  border: none;
  text-align: left;
}
.extra-padding {
  padding: 5px;
  padding-top: 6px;
}
.double-th {
  line-height: 12px !important;
}
.double-th th:last-child {
  border-right: none !important;
}
.table-fluid th:first-child {
  border-left: none;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.table-border-left {
  border-left: 1px solid #ccc;
}
.table-border-right {
  border-right: 1px solid #ccc;
}
.table-border-bottom {
  border-bottom: 1px solid #ccc;
}
.table-fluid th:last-child {
  width: 8%;
  border-right: none;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.options {
  border-top: 1px solid #eee;
  margin-top: 5px;
  text-align: right;
  padding-top: 5px;
}
.ajax-table-loader {
  position: absolute;
  margin-top: -28px;
  margin-left: 50px;
  display: none;
}
@media only screen and (max-width: 1080px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .table-fluid table {
    display: block;
  }
  .table-fluid thead {
    display: block;
  }
  .table-fluid tbody {
    display: block;
  }
  .table-fluid th {
    display: block;
  }
  .table-fluid td {
    display: block;
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .table-fluid tr {
    display: block;
    margin-bottom: -1px;
    border: 1px solid #ccc;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  .table-fluid thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-fluid td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .options {
    border-top: none;
  }
  .ajax-table-loader {
    margin-top: -4px;
  }
}
.table-fluid .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.table-projects td {
  padding: 8px;
}
.table-projects tr:hover {
  color: white;
  cursor: pointer !important;
  background: #0bafec !important;
}
.table-followup tr:nth-child(4n-1),
.table-followup tr:nth-child(4n) {
  background: #fafafa !important;
}
.table-followup tr:nth-of-type(odd) {
  background: none;
}
html,
body {
  background: #f7f7f7;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*margin: 0;*/
}
a .vwrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.hwrap {
  max-width: 1280px;
  margin: 40px auto;
}
.push,
footer {
  height: 60px;
}
.input-changed {
  background: rgba(241, 90, 11, 0.1) !important;
}
footer {
  background-color: #eee;
  border-top: 3px double #ccc;
}
.row-fluid {
  margin-bottom: 20px !important;
}
.alert {
  margin: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.list-group > .active > a,
.list-group > .active > a:hover {
  background-color: #0bafec;
}
#alert-container {
  display: none;
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.modal {
  left: 53% !important;
}
.big-heading {
  color: white;
  ms-box-shadow: 0 0 10px #aaa;
  -moz-box-shadow: 0 0 10px #aaa;
  -o-box-shadow: 0 0 10px #aaa;
  -webkit-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
  -webkit-border-radius: 0;
  margin-top: 20px;
  margin-bottom: 0px;
  background: #0bafec;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}
.row {
  padding-left: 15px;
  margin-bottom: 20px;
}
.bleft [class*="col-"] {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  padding-left: 15px;
  /*margin-bottom: 20px;*/
}
.bleft [class*="col-"]:first-child {
  border-left: none !important;
  padding-left: 0;
}
@media only screen and (max-width: 1080px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .bleft [class*="col-"] {
    border-left: none;
    padding-left: 0;
    /*margin-bottom: 20px;*/
  }
}
@media print {
  .non-printable {
    display: none;
  }
  .printable {
    display: block;
    width: 100%;
    height: 100%;
  }
}
#ajax-loader {
  display: none;
  text-align: center;
}
#ajax-loader img {
  display: block;
  margin: 10px auto 10px auto;
}
.content {
  padding: 30px 60px;
  background: white;
  border: 1px solid #ccc;
  -ms-box-shadow: 0px 0 10px #aaaaaa;
  -moz-box-shadow: 0px 0 10px #aaaaaa;
  -o-box-shadow: 0px 0 10px #aaaaaa;
  -webkit-box-shadow: 0px 0 10px #aaaaaa;
  box-shadow: 0px 0 10px #aaaaaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.title-container {
  float: left;
  margin-top: 10px;
  padding-right: 3px;
  margin-right: 3px;
  border-right: 1px solid #222;
}
/*.inner-content {
    padding: 10px;
}*/
.page {
  min-height: 200px;
}
input[type="text"],
textarea,
select,
.select2-container,
.select2-choice {
  outline: none !important;
  width: 100%;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: text;
  background: none;
}
label {
  cursor: text;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0px;
}
.th-icon-status {
  display: none;
  margin-top: 2px;
  float: right;
}
.icon-status {
  display: none;
  float: right;
  margin-top: -17px;
}
p {
  margin: 5px;
}
.hide {
  display: none;
}
.textarea-container {
  *border: 1px solid #efefef;
  padding: 5px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  min-width: 80px;
}
.label-status {
  padding-left: 3px;
  padding-right: 3px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
textarea,
input[type="text"],
.multiselect,
.select2-choice,
select {
  background: none !important;
  width: 100%;
  border: none !important;
  padding: 0px;
  margin: 0px;
  outline: none !important;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.select2-container.select2-container-disabled .select2-choice div {
  background: none !important;
}
/* FIXA */
.bootstrap-select:not([class*="col-"]) {
  width: 100%;
}
.btn-group {
  margin: 0 !important;
}
td .btn-group > .btn:first-child {
  font-size: 12px;
}
.btn-group > .btn:first-child {
  outline: none !important;
  height: 20px;
  line-height: 15px;
  background: none;
  border: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bootstrap-select.btn-group .btn .filter-option {
  left: 0px;
  min-width: 50px;
}
.btn .caret {
  margin-top: 6px;
}
.btn-group > .btn:first-child:focus {
  background: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
textarea:focus,
input[type="text"]:focus,
.multiselect:focus,
.select2-choice:focus,
select:focus {
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
textarea {
  overflow: hidden;
  resize: none;
}
.select2-drop {
  color: #333;
  border-top: 1px solid #ccc;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.select2-container a {
  padding: 0 !important;
  height: 20px !important;
  line-height: 20px !important;
}
.select2-results .select2-highlighted {
  background: #0bafec;
  color: #fff;
}
.select2-container .select2-choice div {
  background: none;
  border: none;
}
.select2-container .select2-choice div b {
  display: none;
}
/*.select2-container a div {
    display: none !important;
}*/
.right-overview {
  margin-top: 50px;
}
.date .add-on {
  background: none;
  border: none;
  height: 0;
  float: left;
}
.date .add-on i {
  display: none !important;
}
.datepicker-dropdown {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.page h4 {
  padding: 10px;
  background-image: -ms-linear-gradient(top, rgba(11, 175, 236, 0.1) -1%, rgba(255, 255, 255, 0.1) 149%);
  background-image: -moz-linear-gradient(top, rgba(11, 175, 236, 0.1) -1%, rgba(255, 255, 255, 0.1) 149%);
  background-image: -o-linear-gradient(top, rgba(11, 175, 236, 0.1) -1%, rgba(255, 255, 255, 0.1) 149%);
  background-image: -webkit-linear-gradient(top, rgba(11, 175, 236, 0.1) -1%, rgba(255, 255, 255, 0.1) 149%);
  background-image: linear-gradient(top, rgba(11, 175, 236, 0.1) -1%, rgba(255, 255, 255, 0.1) 149%);
}
.icon-gray {
  background-image: url("bootstrap/images/glyphicons-halflings-gray.png");
}
.dropdown-menu {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0bafec;
  background-image: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0bafec;
  background-image: none;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333;
  text-decoration: none;
  background: transparent;
  background-image: none;
}
.btn-group.open .dropdown-toggle {
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ajax-loader {
  *display: none;
}
.yj-hd h3 {
  display: none !important;
}
.header_title h1 {
  font-weight: normal;
  font-size: 24.5px;
}
.table-goals td {
  vertical-align: top;
}
.bosse {
  float: right;
}
.chosen-choices {
  min-height: 20px !important;
  width: 100% !important;
  line-height: normal !important;
}
.chosen-choices input[type="text"] {
  display: none;
}
.form-group {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  min-width: 100%;
}
.chosen-container {
  font-size: inherit;
}
.chosen-container-multi .chosen-choices .search-field input {
  height: auto !important;
  border: none !important;
}
.chosen-container-single .chosen-default {
  color: #999999;
}
.chosen-search input[type=text] {
  display: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background-color: none !important;
  border: none !important;
  -ms-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.chosen-container-single .chosen-single {
  background-color: #ffffff;
  background-image: none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: none;
  -ms-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.chosen-container-multi .chosen-choices {
  background-color: none !important;
  border: none;
  -ms-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.chosen-container .chosen-results li {
  display: none;
  line-height: 0.5;
  list-style: none;
  margin: 0;
  padding: 5px 6px;
}
.hoverLabel {
  color: #fff;
  background: #f15a0b;
  margin-bottom: -2px;
}
.hoverContainer {
  border: 1px solid #f15a0b;
  padding: 4px;
}
.noMarginbot {
  margin-bottom: 0px !important;
}
