<div class="content modal-dialog" style="position: absolute; top: 80px; left: 40%;">
    <div class="modal-content col-md-12" style="width:400px;">

        <div class="modal-body">
            <label class="label-status" translate>Är du säker på att du vill ta bort projektet?</label>
            <div style="padding-bottom:20px;"></div>
            <button type="button" class="btn btn-default" ng-click="$hide()">Avbryt</button>
            <button type="button" class="btn btn-primary" ng-click="$hide();deleteProject(project.Id)">Fortsätt</button>
        </div>

    </div>
</div>
