<div class="bs-sidebar hidden-print affix" bs-scrollspy>
    <div>        
        <ul class="nav nav-pills nav-stacked bs-sidenav">
            <li bs-scrollspy data-target="#projektide">
                <a ng-click="goToLocation('projektide');" class=" scrollink-br-top">1.<span class="sectionName">&nbsp;Projektide</span> </a>
            </li>
            <li bs-scrollspy data-target="#finansiering">
                <a ng-click="goToLocation('finansiering');">2.<span class="sectionName">&nbsp;Finansiering</span>  </a>
            </li>
            <li bs-scrollspy data-target="#medlemmar">
                <a ng-click="goToLocation('medlemmar');">3.<span class="sectionName">&nbsp;Medlemmar</span></a>
            </li>
            <li bs-scrollspy data-target="#projektplan">
                <a ng-click="goToLocation('plan');" class="plan">4.<span class="sectionName">&nbsp;Projektplan</span></a>
            </li>
            <li bs-scrollspy data-target="#mal">
                <a ng-click="goToLocation('malgoal');">5.<span class="sectionName">&nbsp;Mål</span>  </a>
            </li>
            <li bs-scrollspy data-target="#aktivitet">
                <a ng-click="goToLocation('aktivitet');">6.<span class="sectionName">&nbsp;Aktiviteter</span>  </a>
            </li>
            <li bs-scrollspy data-target="#uppfoljning">
                <a ng-click="goToLocation('uppfoljning');">7.<span class="sectionName">&nbsp;Uppföljning</span> </a>
            </li>
            <li bs-scrollspy data-target="#avrapportering">
                <a ng-click="goToLocation('avrapportering');">8.<span class="sectionName">&nbsp;Avrapportering</span> </a>
            </li>
        </ul>
    </div>
</div>
