<div class="bs-sidebar hidden-print affix" bs-scrollspy bs-affix data-offset-top="-85">
    <div style="position: relative">
        <div class="toggle-button"><a ng-click="toggleMenu()"><i class="fa fa-download fa-2x fa-rotate-270"></i></a></div>
        <ul class="nav nav-pills nav-stacked bs-sidenav">
            <li bs-scrollspy data-target="#projectidea">
                <a href="#content?target=projectidea" class="projectidea"> <i class="fa fa-lightbulb-o fixed-width"></i></a>
            </li>
            <li bs-scrollspy data-target="#finance">
                <a href="#content?target=finance" class="finance"> <i class="fa fa-usd fixed-width"></i></a>
            </li>
            <li bs-scrollspy data-target="#members">
                <a href="#content?target=members" class="members"> <i class="fa fa-group fixed-width"></i></a>
            </li>
            <li bs-scrollspy data-target="#plan">
                <a href="#content?target=plan" class="plan"> <i class="fa fa-list fixed-width"></i></a>
                <ul class="nav">
                    <li bs-scrollspy data-target="#projectplan_introduction"><a href="#content#projectplan_introduction"><i class="fa fa-list fixed-width"></i></a></li>
                    <li bs-scrollspy data-target="#projectplan_description"><a href="#content#projectplan_description"><i class="fa fa-list fixed-width"></i></a></li>
                    <li bs-scrollspy data-target="#projectplan_implementation"><a href="#content#projectplan_implementation"><i class="fa fa-list fixed-width"></i></a></li>
                    <li bs-scrollspy data-target="#projectplan_communication"><a href="#content#projectplan_communication"><i class="fa fa-list fixed-width"></i></a></li>
                    <li bs-scrollspy data-target="#projectplan_riskassessment"><a href="#content#projectplan_riskassessment"><i class="fa fa-list fixed-width"></i></a></li>
                </ul>
            </li>
            <li bs-scrollspy data-target="#goal">
                <a href="#content?target=goal" class="goal"> <i class="fa fa-bullseye fa fixed-width"></i></a>
            </li>
            <li bs-scrollspy data-target="#activity">
                <a href="#content?target=activity" class="activity"> <i class="fa fa-check-square fixed-width"></i></a>
            </li>
            <li bs-scrollspy data-target="#followup">
                <a href="#content?target=followup" class="followup"> <i class="fa fa-bar-chart-o fixed-width"></i></a>
            </li>
        </ul>
    </div>
</div>
